/Wilderwood/Wilderwood/.vscode/
/Wilderwood/Wilderwood/Library/
/Wilderwood/Wilderwood/Logs/
/Wilderwood/Wilderwood/Packages/
/Wilderwood/Wilderwood/ProjectSettings/
/Wilderwood/Wilderwood/Temp/
/Wilderwood/Wilderwood/UserSettings/